<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gavin.asmdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".rxjava.RxjavaActivity"></activity>
        <activity android:name=".widget.recycler.CustomRecyclerViewActivity" />
        <activity android:name=".aop.AOPActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".event.EventActivity" />
        <activity android:name=".screen_adapter.SecondActivity" />
        <activity android:name=".screen_adapter.immersive_notch.ImmersiveAndNotchActivity" />
        <activity android:name=".screen_adapter.AdapterActivity" />
    </application>

</manifest>